/*
 * This is where you put global variable styles
 */

/*
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family: 'Montserrat', sans-serif;
$font-medium: 16px;

/*
 * Colors
 */
$color-tundora: #484848;
$color-white: #fff;
$color-silver: #ccc;
$color-black: #000;
$color-monza: #e4002b;
$color-shiraz: #c40f2b;