/*
 * This is where you put global variable styles
 */

/*
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family: 'Montserrat', sans-serif;
$font-small: 12px;
$font-medium: 16px;
$font-large: 21px;

/*
 * Colors
 */
$color-tundora: #484848;
$color-white: #fff;
$color-silver: #ccc;
$color-black: #000;
$color-monza: #e4002b;
$color-shiraz: #c40f2b;
$color-iron: #e2e4e6;

@mixin column($color:$color-iron) {

  display: flex;
  flex-direction: column;

  min-width: 300px;
  height: 100%;
  padding: 12px;
  background: $color;
  border-radius: 3px;
  margin: 0 5px;

}

@mixin column__heading {

  font-size: $font-large;
  margin: 0 0 12px 0;

}

@mixin column__helper {

  font-size: $font-small;
  font-style: italic;

}