/*
 * This is where you put global variable styles
 */

/*
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family: 'Montserrat', sans-serif;

/*
 * Colors
 */
$color-tundora: #484848;
$color-white: #fff;
$color-silver: #ccc;
